<div class="bookGallery">
  <!-- Book 1 -->
  <h1>WHAT I'M CURRENTLY READING</h1>
  <div class="book1">
    <!-- 1st column Book-->
    <div class="single_book_container">
      <div class="book_image_container">
        <!-- Image (use a variable for src instead of harcoded value)-->
        <img class="book_image" src="/assets/images/books/book0.png" alt="book title">
      </div>
      <div class="book_title_container">
        <!-- Book title -->
        <p>The Shadowed Sun</p>
      </div>
    </div>
  </div>
</div>
