<div class="books">
  <!-- Title -->
  <h1>WHAT I'M CURRENTLY READING</h1>
  <div class="bookSection">
    <!-- 1st column Book-->
    <div class="single_book_container">
      <div class="book_image_container">
        <!-- Image (use a variable for src instead of harcoded value)-->
        <img class="book_image" src="/assets/images/books/book0.png" alt="book title">
      </div>
      <div class="book_title_container">
        <!-- Book tritle -->
        <p>The Shadowed Sun</p>
      </div>
    </div>
    <!-- 2nd Column title & description-->
    <div class="title_description">
      <p>The Shadowed Sun</p>
      <p>Lorem Ipsum Dolar Running Through The 6 With Drake
          Random Text That is Rapping Like Jay Z or Jay Dilla With
          Opacity Creeping Further Past Midnight And Then The Clock
          Struck Noon. But Wait There’s More. This Is Just Random
          Copy Text</p>
    </div>
    <!-- 3rd href tab that loads gallery-->
    <div class="gallery_navigation">
      <!-- <a class="navLink" href="#"> -->
      <div class="navTextAndContainer">
        <p class="navText">More Reads</p>
        <img src="/assets/images/icons/library_minimal_color.svg">
      </div>
      <div class="iconContainer">
        <img src="/assets/images/icons/arrow.svg">
      </div>
    <!--  </a> -->
    </div>
  </div>
</div>
