<script type="text/javascript">
  function hideBooks(){
    var bookSection = document.getElementById('bookSection');
    bookSection.style.display = "none";

    var gallerySection = document.getElementById('bookGallery');
    gallerySection.style.display = "flex";
    //Add in Animation
    console.log("Hide Book Section");
    //console.log({{page.books}});
  }
</script>

<div class="books">
  <!-- Title -->
  <h1>WHAT I'M CURRENTLY READING</h1>

  <div class="bookGallery" id="bookGallery">
      {% for book in site.books %}
          <!-- 1st column Book-->
          <!-- <a href="{{book.permalink}}"> -->
          <div class="single_book_gallery_container">
            <a href="{{book.permalink}}">
              <div class="book_image_container">
                <!-- Image (use a variable for src instead of harcoded value)-->
                <img class="book_image" src="/{{ book.url-path }}" alt="book title">
              </div>
              <div class="book_title_container">
                <!-- Book title -->
                <p>{{ book.title }}</p>
              </div>
            </a>
          </div>
      {% endfor %}
  </div>
</div>
